*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, dARKGREEN, black, gray
);
}
#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: black;
}
.title{
    font-size: 1.8em;
    margin-bottom: 10px;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px gray solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
.input i{
    font-size: 1.2em;
    padding: 5px;
    background: -webkit-linear-gradient(-45deg, black, slategrey, blue);
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#btn button{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45, black, slategrey, blue);
    width: 100px;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: black;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#btn button:hover{
    background: linear-gradient(-45, black, slategrey, black);
}

h4, h2{
    font-family:sans-serif;
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
}