*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}
body{
    background-image: url(png/Cinema.jpg);
    background-color: green;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: none;
    margin: 0;
    padding: 0;
    height: 100vw;
    width: 100vw;
}
.form{
    background: white;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid green;
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
}

h1{
    background: green;
}
input section{
    border-radius: 10px;
    height: 30px;
    border: none;
}
input [type="submit"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}
input [type="submit"]:hover{
    background: blue;
    color:  white;
}
input [type="button"]:hover{
    background: blue;
    color:  white;
    border: none;
}




.content{
    height: 520px;
    width: 935px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50% -50%);
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 35%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}
.bar:hover{
    background-color: white;
}
.slides {
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: .6s;

}

h4{
    font-family:sans-serif;
    font-size: 40px;
    color: black;
    width: 100%;
    padding: 0px 190px;
}